<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- routerLink makes it so you dont reload the whole page just router-outlet  -->
        <!-- [routerLinkActiveOptions]="{exact: true} -- only add this css if the full path is found -->
        <!-- <li role="presentation" routerlinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
        </li> -->

        <li role="presentation" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a>Home</a></li>
        <li role="presentation" [routerLink]="['/servers']" routerLinkActive="active"><a>Servers</a></li>
        <li role="presentation" [routerLink]="['/users']" routerLinkActive="active"><a>Users</a></li>
      </ul>
    </div>
  </div>
  <!-- this marks the place in document where we want angular router to load the component
    of the currently selected route -->
  <router-outlet></router-outlet>
</div>
